*{
  font-family: fantasy;
}

body{
  font-size: 24px;
}

p:hover{
  font-family: monospace;
}

/* #first>p{
  color: chartreuse;
} */

#first, #second, #third{
color: rgb(255, 0, 0);
}

.purple{
  color: purple !important;
  /* font-family: monospace; */
}

.highlight{
  background-color: yellow;
  font-weight: bolder;
  font-style: italic;
}