@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=PT+Sans+Narrow:wght@400;700&display=swap');

body{
  font-family: "Caveat",Verdana, cursive;
}

h1{
  /* text-decoration: line-through;
  text-decoration-line: underline;
  text-decoration-color: aqua;
  text-decoration-style: w; */

  /* color: transparent; */
  /* text-shadow: 4px 4px 10px black; */
/* 
  font-family: sans-serif;
  font-family: 'Time New Roman', Times, serif;
  font-family: 
  
  monospace;
  font-family: fantasy; */
}


p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: oblique;
  
}